{% extends 'tools/base.html' %}

{% block addToHead %}
    <meta charset="utf-8">
    <link rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
    <script src='https://code.jquery.com/jquery-1.12.4.js'></script>
    <script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
    <script>
        $(function() {
            $('#categoryDropdown').change(function() {
                this.form.submit();
            });
        });
    </script>
{% endblock %}

{% block title %}
    Calendar
{% endblock %}

{% block body %}
    <div>
        <ul>
            <li><a href="{% url 'index' %}">MAIN</a></li>
            <li><a href="{% url 'logout' %}">LOG&nbsp;OUT</a></li>
        </ul>
    </div>

    <div>
        <h1>Calendar</h1>
        <ul>
            <li><a href="{% url 'viewMemos' monthDay selectedCategory %}">VIEW&nbsp;MEMOS</a></li>
            <li><a href="{% url 'addMemo' monthDay selectedCategory %}">ADD&nbsp;MEMO</a></li>
            <li><a href="{% url 'memoCategoryManager' monthDay selectedCategory None %}">MANAGE&nbsp;CATEGORIES</a></li>
        </ul>
        <div id='calendarContainer'>
            <form action='{% url 'calendarDate' monthDay %}' method='post'>
                {% csrf_token %}
                <input type='hidden' name='monthDay' value='{{ monthDay }}'>
                <label style='margin-top:17px;' class='labelCategory'>Filter:</label>
                <select id='categoryDropdown' type='text' name='category'>
                    {% if selectedCategory != 'All' %}
                        <option value='All'>All</option>
                        {% for category in memoCategories  %}
                            {% if category.name == selectedCategory %}
                                <option value='{{ category.name }}' selected value>{{ category.name }}</option>
                            {% else %}
                                <option value='{{ category.name }}'>{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option value='All' selected value>All</option>
                        {% for category in memoCategories  %}
                            <option value='{{ category.name }}'>{{ category.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </form>
            <div id='calendarNav'>
                <div id='previous'><a href="{% url 'calendarDate' previousMonthDate %}"><&nbsp;&nbsp;&nbsp;PREVIOUS</a></div>
                <div class='separator'>|</div>
                <div id='todayCalendar'><a href="{% url 'calendarToday' %}">TODAY'S&nbsp;CALENDAR</a></div>
                <div class='separator'>|</div>
                <div id='next'><a href="{% url 'calendarDate' nextMonthDate %}">NEXT&nbsp;&nbsp;&nbsp;></a></div>
            </div>
            {{ cal }}
        </div>
    </div>
{% endblock %}
