{% extends 'tools/base.html' %}

{% block title %}
    Memo Category
{% endblock %}

{% block body %}
    <div>
        <ul>
            <li><a href="{% url 'index' %}">MAIN</a></li>
            <li><a href="{% url 'logout' %}">LOG&nbsp;OUT</a></li>
        </ul>
    </div>

    <!-- In views.py, have context = {'returnURL': reverse(viewname='someUrlName', kwargs={'arg': arg})} -->
    <div>Click<a href='{{ returnURL }}'>&nbsp;HERE&nbsp;</a>to return to CALENDAR.</div>

    <br>

    <div>
        <h1>Memo Category</h1>

        {{ message }}

        <form action='{% url 'memoCategoryManager' monthDay selectedCategory 'add' %}' method='post'>
            {% csrf_token %}
            <input name='name' type='text' placeholder='Category' required>
            <input type='submit' value='Add Category'>
        </form>

        <form action='{% url 'memoCategoryManager' monthDay selectedCategory 'delete' %}' method='post'>
            {% csrf_token %}
            <label class='category'>Category:</label>
            <select type='text' name='name'>
                <option value='select' selected value> -- select -- </option>
                {% for category in categories  %}
                    <option value='{{ category.name }}'>{{ category.name }}</option>
                {% endfor %}
            </select>
            <input type='submit' value='Delete Category'>
        </form>
    </div>
{% endblock %}
