{% extends 'tools/base.html' %}

{% block title %}
    Memos
{% endblock %}

{% block body %}
    <div>
        <ul>
            <li class='pageLinks'><a href="{% url 'index' %}">MAIN</a></li>
            <li class='pageLinks'><a href="{% url 'logout' %}">LOG&nbsp;OUT</a></li>
        </ul>
    </div>

    <!-- In views.py, have context = {'returnURL': reverse(viewname='someUrlName', kwargs={'arg': arg})} -->
    <div>Click<a href='{{ returnURL }}'>&nbsp;HERE&nbsp;</a>to return to CALENDAR.</div>

    <br>

    <div>
        {% if memos.0.day %}
            <h1>{{ monthDayToDate|date:'F' }} {{ monthDayToDate|date:'Y' }}</h1>
        {% else %}
            <h1>No memos for {{ monthDayToDate|date:'F' }} {{ monthDayToDate|date:'Y' }}.</h1>
        {% endif %}

        {% for memo in memos %}
            <br>
            <div class='memoContainer'>
                <div class='memoOfMemos'>
                    <h2>{{ memo.day }}</h2><br>

                    <h3>{{ memo.name }}</h3>

                    {% if memo.startTime %}
                        <div>Start Time: {{ memo.startTime }}</div>
                    {% endif %}

                    {% if memo.endTime %}
                        <div>End Time: {{ memo.endTime }}</div>
                    {% endif %}

                    {% if memo.category %}
                        <div>Category: {{ memo.category.name }}</div>
                    {% endif %}

                    {% if memo.description %}
                        <div>Description: {{ memo.description }}</div>
                    {% endif %}

                    <form class='deleteButton' action="{% url 'deleteMemo' monthDay selectedCategory %}" method='post'>
                        {% csrf_token %}
                        <input type='hidden' name='memoID' value='{{ memo.pk }}'>
                        <input type='submit' value='Delete'>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
