body {
    margin: 20px;
}

a {
    color: #0088CE;
}

label[for=startTime], label[for=endTime] {
    margin-right: 5px;
}

.labelCategory {
    margin-right: 2px;
}

table.month {
    width: auto;
    margin: auto;
}

th.month, th.dayOfWeek, td.dayOfWeek {
    border: .5px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th.dayOfWeek {
    text-align: center;
    background-color: #eeeeee;
    font-weight: 500;
}

th.month {
    text-align: center;
    background-color: seashell;
    font-size: 25px;
    font-weight: 500;
    padding: 1px 0px 3px 0px;
}

td.dayOfWeek {
    width: 160px;
    height: 175px;
    vertical-align: top;
}

#previous, #next, #todayCalendar, .separator {
    display: inline-block;
}

.separator {
    margin: 0px 10px 0px 10px;
}

/* #previous {
    margin-right: 10px;
}

#next {
    margin-left: 10px;
} */

#calendarNav {
    display: table;
    margin: 0 auto;
    padding: 5px 0px 15px 0px;
}

.dayMemos {
    margin-top: 4px;
    padding-left: 20px;
}

.dayMemo {
    font-size: 12.5px;
}

.memoContainer {
    background-color: seashell;
    padding: 17px;
}

.memoOfMemos, #memo {
    border: .5px solid black;
    padding: 13px;
    background-color: #eeeeee;
}

.pageLinks {
    padding: 1.5px 0px;
}
